@model ProjectsListViewModel

    <h1 style="text-decoration: underline;">Projects</h1>
    <table>
    <tr>
        <th style="text-align: left">Project name</th>
    </tr>
    @foreach (var project in Model.Projects)
    {

        <tr>
            <td>@project.ProjectName</td>
            <td width="10%"><a asp-action="CheckLists" asp-route-id="@project.ProjectId">CheckLists</a></td>
            <td width="10%"><a asp-action="Templates" asp-route-id="@project.ProjectId">Templates</a></td>
        </tr>
    }
    </table>
